dns_ovh_endpoint = {{certbot_ovh_endpoint}}
dns_ovh_application_key  = {{certbot_ovh_app_key}}
dns_ovh_application_secret  = {{certbot_ovh_app_secret}}
dns_ovh_consumer_key  = {{certbot_ovh_consumer_key}}
