version: '3'

services:
{%if nginx_container | bool %}
  nginx:
    image: {{ nginx_docker_image }}:{{nginx_docker_tag}}
    container_name: nginx
    cap_add:
      - NET_BIND_SERVICE
    volumes:
      - {{nginx_data_dir}}:/var/www
      {% if nginx_config_dir is defined %}
      - {{ nginx_config_dir }}:/etc/nginx/nginx.conf:ro
      - {{ nginx_config_dir }}/log:/var/log/nginx
      {% endif %}
      - {{ cert_dir }}/live/{{domain_name}}/cert.pem:/etc/nginx/certs/cert.pem  # Mount SSL certificates
      - {{ cert_dir }}/live/{{domain_name}}/privkey.pem:/etc/nginx/certs/privkey.pem  # Mount SSL certificates
    ports:
      - "80:80"
      - "443:443"  # Expose port 443 for HTTPS
{%endif%}
{%if dockermail_container | bool %}
  mailserver:
    image: {{ dockermail_docker_image }}:{{dockermail_docker_tag}}
    container_name: mailserver
    cap_add:
      - NET_BIND_SERVICE
    hostname: { domain_name }}
    ports:
      - "25:25"
      - "465:465"
      - "587:587"
      - "993:993"
    environment:
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_CLAMAV=0
      - SSL_TYPE=letsencrypt
      - SPOOF_PROTECTION=1
    volumes:
      - {{dockermail_persist_dir}}/config:/tmp/docker-mailserver:ro
      - {{dockermail_persist_dir}}/data:/var/mail
      - {{dockermail_persist_dir}}/state:/var/mail-state
      - {{dockermail_persist_dir}}/log:/var/log/mail
      - {{ cert_dir }}:/etc/letsencrypt:ro

{%endif%}

